<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation')%>
 <!-- About Me Section -->
<section class="about-me">
    <div class="container">
        <div class="about-text">
            <h1>Hola, soy Melisa</h1>
            <p>Una desarrolladora web orientada a resultados que crea y administra sitios web y aplicaciones web que conducen al éxito del producto en general.</p>
            <a href="/proyectos" class="projects-button">Proyectos</a>
        </div>
    </div>
</section>
<%- include('partials/footer') %>
</body>
</html>