<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <h3>Contacto</h3>
            <ul class="contact-info">
                <li><i class="fas fa-envelope"></i> <a href="mailto:tuemail@example.com">carolinacastillon27@gmail.com</a></li>
                <li><i class="fas fa-phone"></i> +51 987661095</li>
                <li><i class="fas fa-map-marker-alt"></i> Lima, Perú</li>
            </ul>
        </div>
        <div class="footer-center">
            <h3>Sígueme</h3>
            <ul class="social-icons">
                <li><a href="https://twitter.com/tuusuario" target="_blank"><img src="/img/twitter-icon.png" alt="Twitter"></a></li>
                <li><a href="https://www.linkedin.com/in/melisa-carolina-castillon-de-la-cruz-170bb3334/" target="_blank"><img src="/img/linkedin-icon.png" alt="LinkedIn"></a></li>
                <li><a href="https://github.com/melisa176" target="_blank"><img src="/img/github-icon.png" alt="GitHub"></a></li>
            </ul>
        </div>        
        <div class="footer-right">
            <h3>Acerca de mí</h3>
            <p>Soy un desarrollador web apasionado por la tecnología y la innovación, siempre dispuesto a aprender nuevas habilidades y enfrentar desafíos.</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Melisa Castillon. Todos los derechos reservados.</p>
    </div>
</footer>