
<nav class="navbar">
    <div class="navbar-left">
        <img src="/img/melisa.png" alt="Foto de Melisa" class="profile-photo">
        <span class="profile-name">Melisa Castillon</span>
    </div>
    <div class="navbar-center">
        
            <a href="/">Sobre mi</a>
            <a href="/habilidades">Habilidades</a>
            <a href="/proyectos">Proyectos</a>
            <a href="/formacion">Formacion</a>
    
    </div>
    <div class="navbar-right">
        <a href="https://twitter.com/melisa" target="_blank"><img src="/img/twitter-icon.png" alt="Twitter"></a>
        <a href="https://www.linkedin.com/in/melisa-carolina-castillon-de-la-cruz-170bb3334/" target="_blank"><img src="/img/linkedin-icon.png" alt="LinkedIn"></a>
        <a href="https://github.com/melisa176" target="_blank"><img src="/img/github-icon.png" alt="GitHub"></a>
    </div>
</nav>